<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body style="background-color: white">
    <h1>Thong tin cac tai khoan</h1>
    <table border="1" cellpadding="8" cellspacing="0">
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Fullname</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td>{{ user[4] }}</td>
        <td><a href="{{ url_for('edit', u_id=user[0]) }}">Sửa</a></td>
        <td><a href="{{ url_for('delete', u_id=user[0]) }}">Xóa</a></td>
      </tr>
      {% endfor %} {% with messages = get_flashed_messages() %} {% if messages
      %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </table>
    <a href="{{ url_for('logout') }}">Logout</a>
  </body>
</html>
