<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div style="margin-left: 50px">
      <form action="#" method="post">
        <p>
          <label for="">USERNAME</label>
          <input type="text" name="user" />
        </p>
        <p>
          <label for="">PASSWORD</label>
          <input type="password" name="password" />
        </p>
        <p><button type="submit">Login</button></p>
      </form>
      <p>Chua co tai khoan <a href="{{ url_for('register') }}">Dang ky</a></p>
    </div>
  </body>
</html>
